/*************************************************************************/
/*Body and header*/
* {
    box-sizing: border-box;
  }

body {
    background-image: url(./Media/New\ map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(8px);
    display: grid;
    grid-template-columns:auto auto auto ;
    grid-template-rows:auto auto auto auto;
    margin: 0px;
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
    align-items: center;
    gap: 20px;
}

header {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row: 1;
    background: rgba(77, 65, 56, 0.5);
}

/*************************************************************************/
/*Frames and backgrounds*/
.frame {
    border: 1px solid black;
}



/*************************************************************************/
/*Character scenario*/


#continue {
    display: none;
}

.character-scenario-box {
    grid-column-start: 2 !important;
    grid-column-end: 3 !important;
    grid-row-start: 2 !important;
    grid-row-end: 3 !important;
    min-width: 100%;
    min-height: 100%;
}


.option-continue-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/*************************************************************************/
/*Map*/
.character-map {
    grid-column-start: 1 !important;
    grid-column-end: 2 !important;
    grid-row-start: 2 !important;
    grid-row-end:  4 !important;
    object-fit: contain;
    object-position: 100%;
    min-width: 100%;
    min-height: 100%;
}

.character-map-flex {
    
    
}

.map-buttons {
    
   
}



#canal-outpost {

}
    

/*************************************************************************/
/*Inventory*/

.character-inventory {
    grid-column-start: 2 !important;
    grid-column-end: 4 !important;
    grid-row-start: 3 !important;
    grid-row-end: 4 !important;
    min-width: 100%;
    min-height: 100%;
}

/*************************************************************************/
/*Attributes*/

.character-attributes {
    grid-column: 3 !important;
    grid-row: 2 !important;
    min-width: 100%;
    min-height: 100%;
}
/*************************************************************************/
/*Footer*/
footer {
    grid-column-start: 1 !important;
    grid-column-end: span 3 !important;
    grid-row: 4  !important;
    min-width: 100%;
    background-color: rgba(77, 65, 56, 0.5);
    margin-top: auto;
    text-align: center;
}