/*************************************************************************/
/*Body, header, fonts*/

@font-face {
    font-family: baseFont;
    src: url(./media/GRECOromanLubedWrestling.ttf);
}

* {
    box-sizing: border-box;
    font-family: baseFont;
    color: rgb(224, 224, 224);
}

body {
    background: url(./media/new_map.jpg) no-repeat center center fixed;
    backdrop-filter: blur(5px);
    display: grid;
    grid-template-columns: 100px max-content auto auto 100px;
    grid-template-rows: auto auto auto auto;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    text-align: center;
    align-items: center;
    gap: 20px;

}

header {
    grid-column-start: 1;
    grid-column-end: span 5;
    grid-row: 1;
    background: rgba(177, 177, 177, 0.534);
    margin-bottom: auto;
    text-align: left;
    padding-left: 4em;
    border: 1px solid rgba(51, 47, 44, 0.534);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

/*************************************************************************/
/*Frames and backgrounds*/
.frame {
    border: 1px solid rgba(51, 47, 44, 0.651);
    backdrop-filter: blur(4px);
    background-color: rgba(51, 47, 44, 0.534);
    border-radius: 1em;
    padding: 0.5em;
}

/*************************************************************************/
/*Scenario and attributes box*/

.scen-attr-box {
    grid-column-start: 3 !important;
    grid-column-end: 5 !important;
    grid-row-start: 2 !important;
    grid-row-end: 3 !important;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/*************************************************************************/
/*Character scenario*/

.character-scenario-box {
    flex-grow: 1;
}

.character-scenario-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.character-scenario-description>p {
    width: 70%;
}

.option-buttons-box {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.option-buttons-box > button {
    font-size: 1.5em;
    border-radius: 1em;
    border-color: rgba(51, 47, 44, 0.534);
    padding: 0.5em;
    background-image: linear-gradient(180deg, #592a7e, #3d7fb0);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
}

#continue-button {
    display: none;
}

/*************************************************************************/
/*Map*/

.map-box {
    display: flex;
    grid-column-start: 2 !important;
    grid-column-end: 3 !important;
    grid-row-start: 2 !important;
    grid-row-end: 4 !important;
    object-fit: contain;
    object-position: 100%;
    width: 100%;
    height: 100%;
    align-items: center;
}

#map-frame {
    border: 1px solid rgba(51, 47, 44, 0.651);
    border-radius: 1em;
}

.hide {
    display: none;
}

.map-description {
    width: 12em;
}


/*************************************************************************/
/*Inventory*/

.character-inventory {
    grid-column-start: 3 !important;
    grid-column-end: 5 !important;
    grid-row-start: 3 !important;
    grid-row-end: 4 !important;
    width: 100%;
    height: 100%;
    display: inherit;
}

/*************************************************************************/
/*Attributes*/

.character-attributes {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.character-attributes>h1 {
    font-size: 3em;
    background-image: linear-gradient(180deg, #592a7e, #3d7fb0);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

}

.character-attributes>h2 {
    font-size: 1.5em;
}

.character-attributes>p {
    font-size: 1.5em;
    font-stretch: narrower;
}

/*************************************************************************/
/*Footer*/
footer {
    grid-column-start: 1 !important;
    grid-column-end: span 5 !important;
    grid-row: 4 !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    background-color: rgba(77, 65, 56, 0.5);
    margin-top: auto;
    text-align: center;
}