/*************************************************************************/
/*Body, header, fonts*/

@font-face {
    font-family: baseFont;
    src: url(../media/GRECOromanLubedWrestling.ttf);
}

* {
    box-sizing: border-box;
    font-family: baseFont;
    color: rgb(224, 224, 224);
}

body {
    background: url(../media/new_map.jpg) no-repeat center center fixed;
    backdrop-filter: blur(5px);
    display: grid;
    grid-template-columns: 300px auto 300px;
    grid-template-rows: auto auto auto;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    text-align: center;
    align-items: center;
    gap: 20px;

}

header {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row: 1;
    background: rgba(177, 177, 177, 0.534);
    margin-bottom: auto;
    text-align: left;
    padding-left: 4em;
    border: 1px solid rgba(51, 47, 44, 0.534);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

/*************************************************************************/
/*Frames and buttons*/
.frame {
    border: 1px solid rgba(51, 47, 44, 0.651);
    backdrop-filter: blur(4px);
    background-color: rgba(51, 47, 44, 0.534);
    border-radius: 1em;
}

div > button {
    font-size: 1.5em;
    border-radius: 1em;
    border-color: rgba(51, 47, 44, 0.534);
    padding: 0.5em;
    background-image: linear-gradient(180deg, #592a7e, #3d7fb0);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
}

div > input {
    font-size: 1.5em;
    color: rgba(61, 127, 176);
    text-align: center;
}

/*************************************************************************/
/*Ask player name*/


.player-name-innerbox {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 1em;
}

.player-name-innerbox > h1 {
    font-size: 2.5em;
}

/*************************************************************************/
/*Ask player portrait*/

.player-portrait-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.player-portrait-box  > img {
    width: 80%;
    height: 80%;
    border: 1px solid rgba(51, 47, 44, 0.651);
    border-radius: 1em;
    filter: sepia(80%);
}

.player-portrait:hover {
    filter: sepia(50%);
}


/*************************************************************************/
/*Footer*/
footer {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row: 3;
    width: 100%;
    background-color: rgba(77, 65, 56, 0.5);
    margin-top: auto;
    text-align: center;
}